:root {
    --white-color: #fff;
    --black-color: #000;
    --red-color: #d33;
    --text-color: #333;
    --white-color : #fff;
    --black-color : #000 ;
    --red-color   : #d33 ;
    --text-color : #333 ;
    --primaryGradient:linear-gradient(93.12deg, #b066fe 0.52%, #63e2ff 100%);
    --secondaryGradient: linear-gradient(268.91deg, #b066fe  -2.14%, #63e2ff 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary: #581B98;
}

* {
    box-sizing: inherit;
}

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.m-left {
    margin-left: 1rem !important;
}

.m-top {
    margin-top: 10rem !important;
}

body {
    background-color: #f2f5f8;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.mt-20 {
    margin-top: 20px !important;
}